body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(122, 230, 164);
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input [type="text"] {
  width: calc(100% - 100px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button{
    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: azure;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li button {
    background: #dc3545;
}